.content {
  display: flex;
  flex: 1;
  padding: 20px;
}

.cartContainer {
  flex: 1;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productImage {
  width: 100px;
  height: 100px;
}

.itemContainer {
  display: flex;
  align-items: center;
}

.imageContainer {
  margin-right: 10px;
}

.productInfo {
  flex-grow: 1;
  text-align: left;
}

.cartContainer p {
  margin: 0;
}

.cartContainer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 80%;
}

.cartContainer li {
  font-size: 16px;
}

.removeCartBtn {
  margin-left: 20px;
}
