.cartContainer {
  padding: 20px;
}

.cartContainer p {
  margin: 0;
}

.cartContainer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.cartContainer li {
  font-size: 16px;
  cursor: pointer;
  transition: color 0.3s;
}

.cartContainer li:hover {
  color: #007bff;
}
